/*MENU*/
body {
    background-color: #0b0b0b;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.menu-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background:#1a1a1a;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-header a{
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
}

.back-btn{

    background: none;
    border: none;
    cursor: pointer;
    
    position: absolute;
    left: 10px;
}

.menu-title-fixed{
    font-family: "Luckiest Guy";
    font-size: 2.0rem;
    color: #ffcc00;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(255,0,0,0.3);
}


.menu-container {
    text-align: center;
    padding: 20px;
    margin-top: 90px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.menu-card {
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-5px);
}

.menu-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.menu-card h3 {
    color: #fff;
    margin: 15px 0;
    font-family: "Luckiest Guy";
}

.btn-view {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-view:hover {
    background-color: #ff4444;
    color: #fff;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content {
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: #fff;
    animation: zoomIn 0.3s ease;
}

.popup-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.price {
    font-size: 1.4rem;
    color: #ffcc00;
    font-weight: bold;
}

@keyframes zoomIn {
    from { transform: scale(0.6); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

